<section id="main">
  <div class="container-fluid">
    <section class="login-container">
      <div class="logo">
        <img src="../../assets/images/logo-taki.png" alt="Taki">
      </div>

      <form #novalidate [formGroup]="loginUser">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <input type="email" formControlName="email" placeholder="Email">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 alert alert-danger text-center" *ngIf="loginUser.get('email').touched && loginUser.get('email').invalid">
              Campo Inválido.
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <input type="password" formControlName="senha" placeholder="Senha">
            </div>
          </div>
          <div class="row">
            <div class="col-12 alert alert-danger text-center" *ngIf="loginUser.get('senha').touched && loginUser.get('senha').invalid">
              Campo Inválido.
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p>Ainda não é cadastrado? clique <a href="#">aqui</a> e se cadastre.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button type="button" [disabled]="loginUser.get('email').invalid" (click)="getLogin()">Entrar</button>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
</section>
