@import '../../assets/styles/_mixins';
@import '../../assets/styles/_variaveis';

#main {
  .login-container {
    float: left;
    margin-left: 50%;
    margin-top: 18%;
    transform: translate(-50%);
    width: 450px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;

    .logo {
      display: block;
      width: 200px;
      margin: 20px auto;
    }

    form {
      padding: 10px;

      input {
        border: 1px solid #eee;
        padding: 5px 10px;
        color: $defaultColor;
        font-size: 1em;
        border-radius: 3px;
        margin: 5px 0;
        display: block;
        width: 100%;
      }

      p {
        color: #63aeb4;
        font-size: 1em;
        text-align: center;
        margin: 10px 0;
        a {
          color: $defaultColor;
          text-decoration: none;
          font-weight: 700;
        }
      }

      button {
        padding: 15px 10px;
        background-color: $defaultColor;
        font-size: 1em;
        border-radius: 3px;
        margin: 5px 0;
        display: block;
        width: 100%;
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
      }
    }
  }
}
