@import '../../../assets/styles/_mixins';
@import '../../../assets/styles/_variaveis';

.header {
  float: left;
  width: 100%;
  height: auto;
  padding: 20px;
  border-bottom: 1px solid #f2f2f2;

  .logo {
    float: left;
    width: 100px;
    height: auto;
    margin: 0 30px;
  }

  .busca {
    float: left;
    margin: 0 20px;

    input {
      border: none;
      padding: 15px 20px;
      color: #000;
      font-size: 1em;
      width: 300px;
    }

    button {
      border: none;
      background: none;
      color: $defaultColor;
      font-size: 1.3em;
    }
  }

  .usuario-container {
    float: right;
    margin: 15px 0;

    .access {
      color: #aaa;
      float: left;
      font-size: 0.9em;
      margin: 0 15px;
    }

    .userMenu {
      color: $defaultColor;
      font-size: 1em;
      margin: 0 15px;
      position: relative;

      .submenu {
        position: absolute;
        background-color: #ffffff;
        border: 1px solid #f2f2f2;
        padding: 20px;
        left: -60px;
        top: 65px;
        width: 200px;
        z-index: 1;
        border-radius: 3px;

        .icon-menu {
          position: absolute;
          top: -10px;
          left: 55px;
        }

        h2 {
          font-size: 1em;
          color: #000;
        }

        .userID {
          display: block;
          font-size: 0.9em;
          color: #000;
        }

        .divisor {
          float: left;
          width: 100%;
          height: 1px;
          background-color: #f2f2f2;
          margin: 10px 0;
        }

        .navigation {
          a {
            display: block;
            font-size: 0.9em;
            color: #000;
            text-decoration: none;
            margin: 10px 0;
          }
        }
      }
    }

    .configMenu {
      color: $defaultColor;
      font-size: 1em;
      margin: 0 15px;
    }

    .decorator {
      color: $defaultColor;
      font-size: 1em;
      margin: 0 15px;
    }

    .helpMenu {
      color: $defaultColor;
      font-size: 1em;
      margin: 0 15px;
    }
  }
}
