<section class="header">
  <div class="logo">
    <img src="../../assets/images/logo-taki.png" alt="Taki">
  </div>
  <div class="busca">
    <input type="text" placeholder="Digite aqui o que você precisa...">
    <button type="button" name="button"><i class="fas fa-search"></i></button>
  </div>
  <div class="usuario-container">
    <span class="access">ultimo acesso: {{'10/05/2018'}}</span>
    <a class="userMenu" (mousedown)="showMenu()">
      <i class="fas fa-user"></i>
      <div class="submenu" *ngIf="isMenu" (mouseleave)="hideMenu()">
        <div class="icon-menu">
          <img src="assets/images/icon-menu.png" alt="icon">
        </div>
        <h2>Jorge L. Gomes</h2>
        <span class="userID">ID de suporte: 000001</span>
        <span class="divisor"></span>
        <div class="navigation">
          <a href="#">Meus Dados</a>
          <a href="#">Meu Plano</a>
          <a href="#">Sair</a>
        </div>
      </div>
    </a>
    <a href="#" class="configMenu"><i class="fas fa-cog"></i></a>
    <span class="decorator">|</span>
    <a href="#" class="helpMenu">Ajuda</a>
  </div>
</section>
