/* You can add global styles to this file, and also import other style files */
@import './assets/styles/_mixins';
@import './assets/styles/_variaveis';
@import './assets/vendor/bootstrap/css/bootstrap.min.css';
@import './assets/vendor/fontawesome/css/fontawesome.min.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  background-color: $defaultColor;
  margin: 0;
  padding: 0;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.ng-select-container {
  min-height: 50px !important;
  border-radius: 0 !important;
}
