@import '../../assets/styles/_mixins';
@import '../../assets/styles/_variaveis';

#main {
  background-color: #fff;
  border-radius: 5px;
  margin: 20px;
  float: left;
  margin-left: 50%;
  transform: translate(-50%);
  min-width: 1024px;
  width: 98%;

  .content {
    background-color: #f1f4f9;
    float: left;
    min-height: 500px;
    border-radius: 0 0 5px 0;
    padding: 20px;

    .breadcrumb-content {
      float: left;
      width: 100%;
      border-bottom: 1px solid #fff;
      padding: 15px 0;

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style-type: none;
          display: inline;
          color: #000;
        }
      }
    }

    .title-content {
      float: left;
      width: 100%;
      padding: 15px 0;

      h1 {
        font-size: 1.8em;
        color: $defaultColor;
      }

      h3 {
        font-size: 1.3em;
        color: #000;
      }
    }

    .filter-content {
      float: left;
      width: 100%;
      padding: 15px 0;

      button {
        padding: 5px 30px;
        background-color: #5c2483;
        font-size: 0.9em;
        border-radius: 0;
        margin: 0;
        display: block;
        width: max-content;
        color: #aaa;
        font-weight: normal;
        min-height: 48px;
        border: none;
      }
    }

    .categoria-content {
      float: left;
      width: 100%;
      padding: 15px;
      border: 1px solid #aaa;

      p {
        font-size: 0.9em;
        margin: 0;

        &.data {
          a {
            display: block;
            color: $defaultColor;
            font-size: 0.8em;
            font-weight: 700;
            text-align: center;
            text-decoration: none;
          }
        }
      }
    }

    .resumo-content {
      float: left;
      width: 100%;
      border: 1px solid #aaa;
      margin: 20px 0;

      .row {
        margin: 0;
      }

      .item {
        padding: 20px 10px;
        font-size: 0.7em;
        margin: 0;
        float: left;
        width: 100%;
        border-bottom: 1px solid #aaa;
        display: grid;
        align-items: center;

        &.branca {
          background-color: #ffffff;
          text-align: center;
        }

        &.cinza {
          background-color: #f1f4f9;
          text-align: center;
        }
      }

      .title-valores {
        padding: 20px 10px;
        font-size: 0.8em;
        margin: 0;
        float: left;
        width: 100%;
        min-height: 78px;
        display: grid;
        align-items: center;
        color: #000;
      }

      .valores {
        padding: 20px 10px;
        font-size: 1em;
        margin: 0;
        float: left;
        width: 100%;
        min-height: 78px;
        display: grid;
        align-items: center;
        color: #000;
        text-align: center;
        font-weight: 700;

        &.positivo {
          border-bottom: 3px solid #4bb761;
        }

        &.negativo {
          border-bottom: 3px solid #f83867;
        }

        &.neutro {
          border-bottom: 3px solid #fc9b00;
        }
      }
    }

    .footer {
      float: left;
      width: 100%;
      padding: 20px;

      img {
        float: right;
      }
    }
  }
}
