<section id="main">
  <div class="container-fluid nopadding">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="col-10 content">
      <div class="breadcrumb-content">
        <ul>
          <li>Inicio</li>
        </ul>
      </div>
      <div class="title-content">
        <h1>Resumo</h1>
        <h3>Uma visão geral dos recebíveis.</h3>
      </div>
      <div class="filter-content">
        <div class="row">
          <div class="col-sm-3">
            <ng-select [searchable]="false" placeholder="Selecione">
              <ng-option [value]="">Diário</ng-option>
              <ng-option [value]="">Semanal</ng-option>
              <ng-option [value]="">Mensal</ng-option>
              <ng-option [value]="">Anual</ng-option>
            </ng-select>
          </div>
          <div class="col-sm-3">
            <ng-select [searchable]="false" placeholder="Selecione">
              <ng-option [value]="">2018</ng-option>
              <ng-option [value]="">2017</ng-option>
              <ng-option [value]="">2016</ng-option>
              <ng-option [value]="">2015</ng-option>
              <ng-option [value]="">2014</ng-option>
              <ng-option [value]="">2013</ng-option>
              <ng-option [value]="">2012</ng-option>
            </ng-select>
          </div>
          <div class="col-sm-3">
            <button type="button" name="button">Gerar Relatório</button>
          </div>
        </div>
      </div>
      <div class="categoria-content">
        <div class="row">
          <div class="col-2">
            <p>Categoria</p>
          </div>
          <div class="col-2">
            <p class="data"><a href="#">08/05</a></p>
          </div>
          <div class="col-2">
            <p class="data"><a href="#">09/05</a></p>
          </div>
          <div class="col-2">
            <p class="data"><a href="#">10/05</a></p>
          </div>
          <div class="col-2">
            <p class="data"><a href="#">11/05</a></p>
          </div>
          <div class="col-2">
            <p class="data"><a href="#">12/05</a></p>
          </div>
        </div>
      </div>
      <div class="resumo-content">
        <div class="row">
          <div class="col-2 nopadding">
            <p class="item">Recebimentos</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item branca">R$ 9.408,09</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item cinza">R$ 9.408,09</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item branca">R$ 9.408,09</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item cinza">R$ 9.408,09</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item branca">R$ 9.408,09</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2 nopadding">
            <p class="item">Antecipações</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item branca">R$ 663,24</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item cinza">R$ 663,24</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item branca">R$ 663,24</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item cinza">R$ 663,24</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item branca">R$ 663,24</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2 nopadding">
            <p class="item">Ajustes e Chargebacks</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item branca">R$ 0,00</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item cinza">R$ 0,00</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item branca">R$ 0,00</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item cinza">R$ 0,00</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item branca">R$ 0,00</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2 nopadding">
            <p class="item">Cancelamentos</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item branca">R$ 0,00</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item cinza">R$ 0,00</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item branca">R$ 0,00</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item cinza">R$ 0,00</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item branca">R$ 0,00</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2 nopadding">
            <p class="item">Outros</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item branca">R$ -89,02</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item cinza">R$ -89,02</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item branca">R$ -89,02</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item cinza">R$ -89,02</p>
          </div>
          <div class="col-2 nopadding">
            <p class="item branca">R$ -89,02</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2 nopadding">
            <p class="title-valores"><strong>Saldo final</strong> </p>
          </div>
          <div class="col-2 nopadding">
            <p class="valores positivo">R$ 9.982,31</p>
          </div>
          <div class="col-2 nopadding">
            <p class="valores negativo">R$ 9.982,31</p>
          </div>
          <div class="col-2 nopadding">
            <p class="valores neutro">R$ 9.982,31</p>
          </div>
          <div class="col-2 nopadding">
            <p class="valores">R$ 9.982,31</p>
          </div>
          <div class="col-2 nopadding">
            <p class="valores">R$ 9.982,31</p>
          </div>
        </div>
      </div>
      <footer class="footer">
        <img src="assets/images/logo-footer-taki.jpg" alt="Taki">
      </footer>
    </div>
  </div>
</section>
