<section class="col-2 sidebar">
  <nav class="navigation">
    <a href="#"><i class="fas fa-list"></i>Resumo</a>
    <a href="#"><i class="fas fa-shopping-cart"></i>Vendas</a>
    <a href="#"><i class="fas fa-dollar-sign"></i>Recebimentos</a>
    <a href="#"><i class="fas fa-sync"></i>Estabelecimentos</a>
    <a href="#"><i class="fas fa-cogs"></i>Credenciamento</a>
    <a href="#"><i class="fas fa-clipboard-list"></i>Relatórios</a>
    <a href="#"><i class="fas fa-sign-out-alt"></i>Sair</a>
  </nav>
  <div class="duvidas-content">
    <p>Dúvidas?</p>
    <a href="#">
      <img src="assets/images/img-duvidas.jpg" alt="Duvidas? Ligue agora, é grátis.">
    </a>
  </div>
</section>
