@import '../../../assets/styles/_mixins';
@import '../../../assets/styles/_variaveis';

.sidebar {
  float: left;
  min-height: 500px;
  padding: 0;

  .navigation {
    a {
      display: block;
      font-size: 1em;
      color: #000;
      padding: 20px 10px;
      border-bottom: 1px solid #f2f2f2;
      text-decoration: none;

      i {
        float: left;
        font-size: 1.3em;
        margin: 5px 10px;
        color: $defaultColor;
        min-width: 30px;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  .duvidas-content {
    float: left;
    width: 100%;
    margin: 220px 15px 0;

    p {
      color: #000;
      font-size: 0.8em;
      border-bottom: 1px solid #f2f2f2;
      padding: 10px;

      > a {
        padding: 0;
      }
    }
  }
}
